<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Książka Telefoniczna</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
</head>
<body style="overflow-y: scroll;">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md" style="background-color: #262b35;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent">
                <span class="btn btn-light">Menu</span>
            </button>
            <div class="glyphicon-collapse-down navbar-collapse" id="navContent">
                <div class="navbar-nav">
                    <a href="/Person/Index" class="nav-item nav-link btn btn-light " style="width: 130px; margin-left: 0">PhoneBook</a>
                </div>
            </div>
            <div class="float-right">
                <div class="navbar-nav">
                    <span class="nav-link text-white" style="width: 270px;">Designed by: Klepacz Przemysław</span>
                </div>
            </div>
        </div>
    </nav>

    <!-- Top -->
    <div class="jumbotron jumbotron-fluid text-center text-white"
         style="background-color: #304554; background-image: url('../../lib/img/pho.png'); background-position: 50% 100%; background-repeat: no-repeat">
        <div class="container">
            <h1 class="text-warning">Książka Telefoniczna</h1>
            <p>Wyszukuj <span class="text-warning">numery telefonów</span> swoich znajomych!</p>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <!-- Footer -->
    <hr>
    <footer class="text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <ul class="list-unstyled">
                        <li>Biuro - 111-222-333</li>
                        <li>Dyrekcja - 333-111-222</li>
                        <li>Księgowość - 222-333-111</li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-unstyled">
                        <li>Biuro - biuro&#64example.com</li>
                        <li>Dyrekcja - dyrekcja&#64example.com</li>
                        <li>Księgowość - ksiegowosc&#64example.com</li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-unstyled">
                        <li>Czynne:</li>
                        <li>Pn.-Pt. 8:00 - 16:00</li>
                        <li>ul. Wolna 7 50-500 Wrocław</li>
                    </ul>
                </div>
            </div>
            <div class="text-center mb-3">
                &copy; Copyright 2017 - 2020 MyCompany Wszystkie prawa zastrzeżone!
            </div>
        </div>
    </footer>

    <script src="~/lib/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
