@model PhoneBook.Models.PersonModel

<section>
    <div class="container">
        <form asp-action="Add" method="post">
            <div class="my-3">
                <label asp-for="FirstName" class="form-control-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="Imię" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="my-3">
                <label asp-for="LastName" class="form-control-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Nazwisko" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="my-3">
                <label asp-for="Phone" class="form-control-label"></label>
                <input asp-for="Phone" class="form-control" placeholder="Format: 000-000-000" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="my-3">
                <label asp-for="Email" class="form-control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Example@example.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="submit" value="Dodaj!" class="btn btn-success my-3" style="width: 130px;" />
        </form>
    </div>
</section>